In [21]:
import csv 
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
file_path_4a = "task4a.csv"

df = pd.read_csv(file_path_4a)

In [5]:
# Display the first few rows of the DataFrame
print("First few rows:")
print(df.head())

# Display DataFrame information
print("\nDataFrame information:")
print(df.info())

# Display summary statistics of numerical columns
print("\nSummary statistics:")
print(df.describe())

First few rows:
   Category ID          Category Name  Product Count
0        23392                  Chiếu            889
1        54482  Sữa rửa mặt, dưỡng da             11
2            2                   Root         543437
3        17184              Son dưỡng            163
4        21120  Thiết bị lưu trữ khác            246

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2782 entries, 0 to 2781
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Category ID    2782 non-null   int64
 1   Category Name  2782 non-null   object
 2   Product Count  2782 non-null   int64
dtypes: int64(2), object(1)
memory usage: 65.3+ KB
None

Summary statistics:
        Category ID  Product Count
count   2782.000000    2782.000000
mean   19710.178648     531.246585
std    16498.538057   10337.838599
min        2.000000       1.000000
25%     6122.500000      12.000000
50%    15006.000000     102.000000
75%    26493.500000     439.750000
max    55948.000000  543437.000000

In [9]:
# Print the top 10 categories based on product count
top_categories = df.groupby(['Category ID', 'Category Name'])['Product Count'].sum().reset_index()
top_categories_sorted = top_categories.sort_values(by='Product Count', ascending=False)
print("Top 10 Categories based on Product Count:")
print(top_categories_sorted.head(20))

Top 10 Categories based on Product Count:
      Category ID              Category Name  Product Count
0               2                       Root         543437
118           914                 Thời Trang          24665
248          1883         Nhà Cửa - Đời Sống          17972
386          2549          Đồ Chơi - Mẹ & Bé          17003
212          1815  Thiết Bị Số - Phụ Kiện Số          16655
67            316            Sách tiếng Việt          16285
148          1520         Làm Đẹp - Sức Khỏe          12673
247          1882              Điện Gia Dụng           5067
285          1975        Thể Thao - Dã Ngoại           4362
930          8594     Ô Tô - Xe Máy - Xe Đạp           3978
518          4384            Bách Hóa Online           2247
234          1862          Dụng Cụ Văn Phòng           2109
1961        24200        Quần áo đá banh nam           1911
861          8322              Nhà Sách Tiki           1886
2279        28920         Adapter Sạc Laptop           1880
231          1858        Bút - Viết các loại           1874
2281        28924        Pin Thay Thế Laptop           1873
155          1583                Sữa rửa mặt           1836
1952        24178           Giày đá bóng nam           1833
161          1601                     Mặt nạ           1823

In [8]:
# Sum total product count
total_product_count = df['Product Count'].sum()
print("\nTotal Product Count:", total_product_count)

Total Product Count: 1477928

In [11]:
file_path_4b = "cleaned_task4b.csv"

df_4b = pd.read_csv(file_path_4b)

In [12]:
# Display the first few rows of the DataFrame
print("First few rows:")
print(df_4b.head())

# Display DataFrame information
print("\nDataFrame information:")
print(df_4b.info())

# Display summary statistics of numerical columns
print("\nSummary statistics:")
print(df_4b.describe())

First few rows:
   Unnamed: 0  Product ID               Origin     Value
0           0    95043797  Xuất xứ thương hiệu  Việt Nam
1           2   160793589  Xuất xứ thương hiệu  Nhật Bản
2           4   205520896              Xuất xứ  Việt Nam
3           6   225067228  Xuất xứ thương hiệu  Việt Nam
4           8   253068278  Xuất xứ thương hiệu     China

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271892 entries, 0 to 1271891
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1271892 non-null  int64
 1   Product ID  1271892 non-null  int64
 2   Origin      1271892 non-null  object
 3   Value       1271892 non-null  object
dtypes: int64(2), object(2)
memory usage: 38.8+ MB
None

Summary statistics:
         Unnamed: 0    Product ID
count  1.271892e+06  1.271892e+06
mean   1.209123e+06  1.566857e+08
std    6.979014e+05  6.992816e+07
min    0.000000e+00  4.096700e+04
25%    6.043925e+05  1.079777e+08
50%    1.208872e+06  1.664537e+08
75%    1.813839e+06  2.061450e+08
max    2.417861e+06  2.709456e+08

In [16]:
#filtered rows containing "Trung Quoc" or "China"
filtered_rows = df_4b[df_4b['Value'].str.contains('Trung Quốc|China', case = False)]

#calculate the number of rows that contains 'Trung Quốc' or 'China'
num_rows_with_china = filtered_rows.shape[0]

print(f"Number of rows containing 'Trung Quốc' or 'China': {num_rows_with_china}")

Number of rows containing 'Trung Quốc' or 'China': 354530

In [24]:
#filtered rows containing "Trung Quoc" or "China"
vn_filtered_rows = df_4b[df_4b['Value'].str.contains('Việt Nam', case = False)]

#calculate the number of rows that contains 'Việt Nam'
num_rows_with_china = vn_filtered_rows.shape[0]

print(f"Number of rows containing 'Viet Nam': {num_rows_with_china}")

Number of rows containing 'Viet Nam': 739438